.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
  margin-bottom: 20px;
}
/* write your parent styles in here for your App.js */
